[Desktop Entry]
Name=Pastie
Comment=Clipboard manager
Icon=gtk-paste
Exec=pastie
Terminal=false
Type=Application
Categories=GTK;GNOME;Application;Utility;
