[Desktop Entry]
Name=Pastie
Comment=Clipboard manager
Comment[es]=Gestor de portapapeles
Comment[ja]=クリップボード　マネージャー
Icon=gtk-paste
Exec=pastie
Terminal=false
Type=Application
OnlyShowIn=GNOME;XFCE;
X-GNOME-Autostart-enabled=true
